process.container = 'norakearns/my-image'
docker.runOptions = '-u $(id -u):$(id -g)' 
docker.enabled = true

params.outdir = "results"
params.publish_dir_mode = 'copy'

process {

    withName: 'INDEX' {
        publishDir = [
            path: { "${params.outdir}/index" },
            mode: params.publish_dir_mode
        ]
    }
    }